
.button{
    background-color: rgb(211, 0, 0);
    color: white;
    border: transparent;
    height: 70px;
    width: 180px;
    font-size: 2rem;
    border-radius: 2rem;
}

// .button-restart{
//     background-color: yellow;
//     z-index: 10;
//     color: black;

// }